.carousel img {
    height: 300px;
    object-fit: cover;
}

.property-summary {
    padding: 24px;
}


.property-layout {
    background-color: #fcfaf7;
}

.detail-container {
    padding-bottom: 10px;
}

.property-name {
    font-size: 36px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .property-name {
        font-size: 24px;
    }
}

.property-address {
    color: #6f6f6f;
    font-size: 16px;
    padding-bottom: 5px;
}



.rent-container {
    display: flex;
    align-items: center;
}

.rent {
    font-size: 24px;
    font-weight: bold;
    padding-right: 10px;
}

@media (max-width: 768px) {
    .rent {
        font-size: 18px;
    }
}

.rent-unit {
    color: #6f6f6f;
    font-size: 12px;
}

.button-container .btn {
    font-size: 14px;
    border-radius: 0px;
    width: 140px;
    float: right;
}

@media (max-width: 768px) {
    .property-amenities .row>div {
        padding-bottom: 24px;
    }
}

.amenity-container {
    margin: 8px 0px;
}

.amenity-container img {
    height: 20px;
    margin-top: -4px;
    margin-right: 4px;
}

.Box3 {
    margin: 28px 0px;
}


.criteria-text {
    margin-left: 8px;
}






